/*モーダル*/
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80vh;
}

.close {
  position: absolute;
  top: 30px;
  right: 50px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}


body {
  background-color: #fef8f8;
  font-family: 'Sawarabi Gothic', sans-serif;
  color: #333;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* buttonタグのリセット*/
button {
  padding: 0;
  font-family: inherit;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.buttonOutline {
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  height: 64px;
  padding: 12px 44px;
  font-family: 'Lobster',cursive;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #000;
  text-align: center;
  overflow-wrap: anywhere;
  background-color: transparent;
  border: 2px solid #000;

}

.buttonOutline:hover {
  opacity: 0.9;
  border-color: rgb(222, 237, 255);
}



/*menu*/
.menu-trigger {
  position: fixed;
  cursor: pointer;
  top: 30px;
  left: 34px;
  width: 46px;
  height: 34px;
  z-index: 3;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}

.isActive{
  color: #fff;
}

.menu-trigger:active {
  background-color: #000;
}

.menu-trigger, .menu-trigger span {
  display: inline-block;
  transition: all .4s;
}

nav {
  display: none;
  position: fixed;
  width: 25%;
  min-width: 180px;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

nav a {
  display: block;
  color: #fff;
  font-size: 1em;
}

nav ul {
  margin: 100px auto 0 auto;
  text-align: center;
}

nav ul li {
  line-height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

a {
  color: #000;
  opacity: 0.9;
  transition: all 0.4s;
}

a:hover{
  opacity: 0.9;
  color: rgb(222, 237, 255);
}

.loader-wrap {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(222, 237, 255);
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}



body {
  margin: 0;
  font-family: 'Sawarabi Gothic', sans-serif;
}

a {
  text-decoration: none;
}

ul li{
  padding-bottom: 5px;
}

.top p{
  float:left;
  font-size:24px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}


.top-wrapper {
  height:10%;
  padding: 3%;
  /* background-image: url(./top.png); */
  background-color: #fff;
  background-size: cover;
  width:auto;
  background-repeat: no-repeat;
  animation-name: fadein;
  animation-duration: 2.6s;
  position: relative;
  display: flex;
}

.top-m {
  margin: 0 auto; 
  opacity: 0.85;
  font-size: 75px;
  letter-spacing: 3px;
  /* color: #b7dbff; */
  color: #f6bfbc;
  font-family: 'Lobster', cursive;
}

.top-wrapper h2 {
  opacity: 0.9;
  color:#000;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
  font-size:30px;
  letter-spacing: 3px;
}

.top-wrapper p {
  opacity: 0.8;
  font-size: 24px;
  color:#000;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  padding-bottom: 8px;
}


@keyframes fadein {
from {
    opacity: 0;
    transform: translateY(15px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

.fa {
  margin-right: 5px;
}

header {
  height: 50px;
  width: 100%;
  background-color: rgba(0,0,0,0);
  position :fixed;
  top: 0;
  z-index: 10;
}

.profile-wrapper {
  padding: 5%;
  margin: 0 10%;
  background-color: #fff;
  animation-name: fadein_contents;
  animation-duration: 2s;
  border: 1px solid #000000;
  height:auto;
	overflow:hidden
}

.profile-wrapper p{
  font-size: 16px;
  line-height: 24px;
  font-family: 'Sawarabi Gothic', sans-serif;
}

.profile-wrapper h3{
  margin-top: 0;
  margin-bottom: 8px;
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 5px;
  text-align: left;
}

.profile{
  padding: 5% 1%;
  width:70%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  float:center;
}

.social-icons {
  margin-top: 12px;
}

.social-icons a {
  color: black;
  margin: 0 10px;
  font-size: 1.7rem;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #f6bfbc;
}

.icon{
  width: 34px;
  height: 34px;
  margin-right:6px;
  text-align: right;
  /* vertical-align: top; */
}

.profile a{
  text-align: right;
}

.career-wrapper {
  padding: 5%;
  margin: 0 10%;
  background-color: #fff;
  animation-name: fadein_contents;
  animation-duration: 2s;
  border: 1px solid #000000;
  height:auto;
	overflow:hidden;
}

.career-wrapper p{
  font-size: 16px;
  line-height: 24px;
  font-family: 'Sawarabi Gothic', sans-serif;
}

.career-wrapper h3{
  margin-top: 0;
  margin-bottom: 8px;
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 5px;
  text-align: right;
}

.career{
  padding: 5% 1%;
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  float: center;
}

.skills-wrapper h3{
  margin-top: 0;
  margin-bottom: 8px;
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 5px;
  text-align: left;
}

.skills-wrapper {
  padding: 5%;
  margin: 5% 10% 10% 10%;
  background-color: #fff;
  font-weight: 350;
  animation-name: fadein_contents;
  animation-duration: 2s;
  border: 1px solid #000000;
  height:auto;
	overflow:hidden
}

.skills{
  padding: 5% 1%;
  width:70%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  float:center;
}

.contact-wrapper {
  padding: 5%;
  padding-bottom: 10%;
  margin-bottom: 8%;
  background-color: #fff;
  text-align: center;
  animation-name: fadein_contents;
  animation-duration: 2s;
  height:auto;
	overflow:hidden
}

ul{
  list-style-type:none;margin:0;padding:0;
}/*リセット*/


@keyframes fadein_contents {
from {
    opacity: 0;
    transform: translateY(15px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

.heading {
  padding: 2%;
  color: #000;
}

.heading h2 {
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;
  font-size:55px;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.footer-wrapper{
  width: 100%;
}

footer h1 {
  padding-top: 20px;
  opacity: 0.9;
  font-size: 20x;
  letter-spacing: 0.5px;
  color:#000;
  font-family: 'Krona One', sans-serif;
}

footer p {
  color: #fff;
  font-size: 14px;
  font-family: 'Recursive', sans-serif;
}

footer {
  text-align: center;
  height: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  /* background-color:#fef4f4; */
  background-color:#f6bfbc;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.clear {
  clear: left;
}

@media all and (max-width: 800px) {

  .profile-wrapper {
    padding: 5%;
    margin: 0% 3% 10% 3%;
  }
  
  .profile{
    padding: 12% 1%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .career-wrapper {
    padding: 5%;
    margin: 10% 3%;
  }
  
  .career{
    padding: 12% 1%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .skills-wrapper {
    padding: 5%;
    margin: 10% 3%;
    margin-bottom: 22%;
  }
  
  .skills{
    padding: 12% 1%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-wrapper{
    margin-bottom: 22%;
  }

  .top-wrapper {
    min-height:70%;
    background-size: 90%;
    padding: 8%;
  }

  .top-wrapper h1 {
    font-size: 65px;
  }

  .heading h2 {
    font-size: 30px;
  }
}


@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper {
    height:30%;
    padding: 8%;
  }

  .top-wrapper h1 {
    font-size: 65px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .top-wrapper h2{
    font-size: 24px;
  }

}
