{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>ポートフォリオ</title>
    <style>
    </style>

    <!-- CSS読み込み -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-gallery.css' %}">
</head>
<body>

    <div class="container">
        <div class="heading">
          <div id="gallery" class="gallery-wrapper">
            <h2 class="section-title">Gallery</h2>
            <p class="section-subtitle">My original illustrations</p>
            
            {% include 'components/illustration_grid.html' %}
            
          </div>
        </div>
      </div>

</body>
</html>
